In [3]:
#here the syntax of te add ,sub operation on the series are syntax is -->seriesobj1.add(seriesobj2,fill_value=0),simillary sub -->seriesobj1.add(seriesobj2,fill_value=0)
import numpy as np
import pandas as pd
a=np.array([10,20,30,40,50,60])
b=pd.Series(a,index=[1,2,3,4,5,6])
print(b)

1    10
2    20
3    30
4    40
5    50
6    60
dtype: int32

In [7]:
#here we are using the adding the synatax is-----> seriesobj1.add(seriesobj2)
import pandas as pd
a=pd.Series([10,20,30,40,50,60])
b=pd.Series([100,200,300,400,500,600])
print("series-1")
print(a)
print("series-2")
print(b)
print("series-3")
c=a.add(b)
print(c)

series-1
0    10
1    20
2    30
3    40
4    50
5    60
dtype: int64
series-2
0    100
1    200
2    300
3    400
4    500
5    600
dtype: int64
series-3
0    110
1    220
2    330
3    440
4    550
5    660
dtype: int64

In [9]:
#here we are using the adding the synatax is-----> seriesobj1.add(seriesobj2)
import pandas as pd
a=pd.Series([10,20,30,40,50,60],index=["a","b","c","d","e","f"])
b=pd.Series([100,200,300,400,500,600],index=["a","b","c","d","e","f"])
print("series-1")
print(a)
print("series-2")
print(b)
print("series-3")
c=a.add(b)
print(c)

series-1
a    10
b    20
c    30
d    40
e    50
f    60
dtype: int64
series-2
a    100
b    200
c    300
d    400
e    500
f    600
dtype: int64
series-3
a    110
b    220
c    330
d    440
e    550
f    660
dtype: int64

In [11]:
#here we are using the adding the synatax is-----> seriesobj1.add(seriesobj2)
#here it will we add the only the euqal alabel values if not equal is not equal we will get the NaN
import pandas as pd
a=pd.Series([10,20,30,40,50,60],index=["a","b","c","f","e","f"])
b=pd.Series([100,200,300,400,500,600],index=["a","b","c","h","e","g"])
print("series-1")
print(a)
print("series-2")
print(b)
print("series-3")
c=a.add(b)
print(c)

series-1
a    10
b    20
c    30
f    40
e    50
f    60
dtype: int64
series-2
a    100
b    200
c    300
h    400
e    500
g    600
dtype: int64
series-3
a    110.0
b    220.0
c    330.0
e    550.0
f      NaN
f      NaN
g      NaN
h      NaN
dtype: float64

In [19]:
#here we are using the adding the synatax is-----> seriesobj1.add(seriesobj2,fill_value=0)
#here it will we add the only the euqal alabel values if not equal is not equal we will get the NaN
import pandas as pd
a=pd.Series([10,20,30,40,50,60],index=["a","b","c","f","e","f"])
b=pd.Series([100,200,300,400,500,600],index=["a","b","c","h","e","g"])
print("series-1")
print(a)
print("series-2")
print(b)
print("series-3")
c=a.add(b,fill_value=0)
print(c)

series-1
a    10
b    20
c    30
f    40
e    50
f    60
dtype: int64
series-2
a    100
b    200
c    300
h    400
e    500
g    600
dtype: int64
series-3
a    110.0
b    220.0
c    330.0
e    550.0
f     40.0
f     60.0
g    600.0
h    400.0
dtype: float64

In [21]:
#here it is simmillary is add() is like subb syntax-->series.boj1.sub(series.boj2,fill_value=0)
#here we are using the adding the synatax is-----> seriesobj1.add(seriesobj2)
import pandas as pd
a=pd.Series([10,20,30,40,50,60],index=["a","b","c","d","e","f"])
b=pd.Series([100,200,300,400,500,600],index=["a","b","c","d","e","f"])
print("series-1")
print(a)
print("series-2")
print(b)
print("series-3")
c=a.sub(b)
print(c)

series-1
a    10
b    20
c    30
d    40
e    50
f    60
dtype: int64
series-2
a    100
b    200
c    300
d    400
e    500
f    600
dtype: int64
series-3
a    -90
b   -180
c   -270
d   -360
e   -450
f   -540
dtype: int64

In [23]:
#here it is simmillary is add() is like subb syntax-->series.boj1.sub(series.boj2,fill_value=0)
#here we are using the adding the synatax is-----> seriesobj1.add(seriesobj2)
import pandas as pd
a=pd.Series([10,20,30,40,50,60],index=["a","b","c","d","e","f"])
b=pd.Series([100,200,300,400,500,600],index=["a","b","j","d","k","f"])
print("series-1")
print(a)
print("series-2")
print(b)
print("series-3")
c=a.sub(b)
print(c)

series-1
a    10
b    20
c    30
d    40
e    50
f    60
dtype: int64
series-2
a    100
b    200
j    300
d    400
k    500
f    600
dtype: int64
series-3
a    -90.0
b   -180.0
c      NaN
d   -360.0
e      NaN
f   -540.0
j      NaN
k      NaN
dtype: float64

In [29]:
#here it is simmillary is add() is like subb syntax-->series.boj1.sub(series.boj2,fill_value=0)
#here we are using the adding the synatax is-----> seriesobj1.add(seriesobj2)
import pandas as pd
a=pd.Series([10,20,30,40,50,60],index=["a","b","c","d","e","f"])
b=pd.Series([100,200,300,400,500,600],index=["a","b","j","d","k","f"])
print("series-1")
print(a)
print("series-2")
print(b)
print("series-3")
c=a.sub(b,fill_value=0)
print(c)

series-1
a    10
b    20
c    30
d    40
e    50
f    60
dtype: int64
series-2
a    100
b    200
j    300
d    400
k    500
f    600
dtype: int64
series-3
a    -90.0
b   -180.0
c     30.0
d   -360.0
e     50.0
f   -540.0
j   -300.0
k   -500.0
dtype: float64