In [1]:
#there are 10 attribute are
#index,columns,dtype,shape,size,values,empty,axes,T,ndim
#we mostly perform in csv file only 
#dataframe is list,tuple,dict this are used to create mostly we use in csv

In [7]:
import pandas as pd
s=pd.read_csv("C:\\Users\\prash\\OneDrive\\Desktop\\Pandas\\stud.csv")
df=pd.DataFrame(s)
print(df)

   id     name  marks  course
0   1  prshant  200.0  python
1   2   rosumm  300.0  python

In [9]:
#now we are performing the attribute operation they are 
#uing the index
i=s.index
print("the row inde are",i)

RangeIndex(start=0, stop=2, step=1)

In [11]:
#uing the columns
i=s.columns
print("the column names are",i)

Index(['id', 'name', 'marks', 'course'], dtype='object')

In [19]:
#uing the dtype
i=s.dtypes
print("the dytpes are",i)

id          int64
name       object
marks     float64
course     object
dtype: object

In [31]:
#uing the values
i=s.values
print("the values",i)
#using the shape
i=s.shape
print("the sahpe is",i)
#using the size
i=s.size
print("the size is",i)
#using the ndim
i=s.ndim
print("the dim of i is ",i)

the values [[1 'prshant' 200.0 'python']
 [2 'rosumm' 300.0 'python']]
the sahpe is (2, 4)
the size is 8
the dim of i is  2

In [49]:
#now we are using the empty and axes t
#using the empty
i=s.empty#we get true or false
print("the values of the empty",i)
#using the axes
i=s.axes[0]#[0]here it is row
print("the axes are ",i)
i=s.axes[1]#[1]here it is columns
print("the axes are ",i)
#now we are using the t as transpose matrix is
i=s.T 
print("the transpose is",i)
print("-"*50)
#now we are using the t as transpose matrix is
i=s.T[1]#[1] is the index we cans tanspose by using the index which row we want to tansprose
print("the transpose is",i)

the values of the empty False
the axes are  RangeIndex(start=0, stop=2, step=1)
the axes are  Index(['id', 'name', 'marks', 'course'], dtype='object')
the transpose is               0       1
id            1       2
name    prshant  rosumm
marks     200.0   300.0
course   python  python
--------------------------------------------------
the transpose is id             2
name      rosumm
marks      300.0
course    python
Name: 1, dtype: object

In [51]:
#uing the values
i=s.values
print("the values",i)

the values [[1 'prshant' 200.0 'python']
 [2 'rosumm' 300.0 'python']]

In [59]:
for record in i:
    for val in record:
        print("\t",val,end="")
    print()

	 1	 prshant	 200.0	 python
	 2	 rosumm	 300.0	 python