In [3]:
import pandas as pd
import numpy as np
df=pd.read_csv("C:\\Users\\prash\\OneDrive\\Desktop\\Pandas\\PANDAS CLASS NOTES ON 26-02-2025\\anil.csv")
print(df)

   ID     Name  Age    City  Experience
0  11     Jack   44  Sydney          19
1  12     Riti   41   Delhi          17
2  13     Aadi   46  Mumbai          11
3  14    Mohit   45   Delhi          15
4  15    Veena   43   Delhi          14
5  16  Shaunak   42  Mumbai          17
6  17    Manik   42  Sydney          14
7  18    Vikas   42   Delhi          11
8  19    Samir   42  Mumbai          15
9  20  Shobhit   40  Sydney          12

In [7]:
pg=df.groupby("City")
print(pg)

<pandas.core.groupby.generic.DataFrameGroupBy object at 0x0000023B59CCEFF0>

In [11]:
for groupname,groupdata in pg:
    print(groupname)
    print(groupdata)

Delhi
   ID   Name  Age   City  Experience
1  12   Riti   41  Delhi          17
3  14  Mohit   45  Delhi          15
4  15  Veena   43  Delhi          14
7  18  Vikas   42  Delhi          11
Mumbai
   ID     Name  Age    City  Experience
2  13     Aadi   46  Mumbai          11
5  16  Shaunak   42  Mumbai          17
8  19    Samir   42  Mumbai          15
Sydney
   ID     Name  Age    City  Experience
0  11     Jack   44  Sydney          19
6  17    Manik   42  Sydney          14
9  20  Shobhit   40  Sydney          12

In [13]:
values = df.groupby('City').agg( {'Age': 'mean', 'Experience': 'sum'})
print(values)

              Age  Experience
City
Delhi   42.750000          57
Mumbai  43.333333          43
Sydney  42.000000          45

In [27]:
values = df.groupby('City').agg( {'Age': 'mean','Age':'sum'})
print(values)

        Age
City
Delhi   171
Mumbai  130
Sydney  126

In [35]:

values = df.groupby('City')["Age"].agg(['size', 'sum', 'mean','median'])
print(values)

        size  sum       mean  median
City
Delhi      4  171  42.750000    42.5
Mumbai     3  130  43.333333    42.0
Sydney     3  126  42.000000    42.0

In [37]:
import pandas as pd
#creating the DataFrame
df = pd.DataFrame({"A": [1, 2, 3], "B": [4, 5, 6],"C": [7,8,9]})
print("-------The DataFrame is-------")
print(df)

-------The DataFrame is-------
   A  B  C
0  1  4  7
1  2  5  8
2  3  6  9

In [47]:
print(df.rename(columns={'A':'a','B':'b','C':'c'}))

   a  b  c
0  1  4  7
1  2  5  8
2  3  6  9

In [49]:
print(df.rename(index={0:'a',1:'b',2:'c'}))

   A  B  C
a  1  4  7
b  2  5  8
c  3  6  9

In [51]:
#Changing OR Renaming Indices (Row Indexes)
import pandas as pd
#creating the DataFrame
df = pd.DataFrame({"A": [1, 2, 3], "B": [4, 5, 6],"C": [7,8,9]})
print("-------The DataFrame is-------")
print(df)
print("----------------------------------")
print(df.rename(index={0: "index_1", 1: "index_2", 2:"index_3"}))

-------The DataFrame is-------
   A  B  C
0  1  4  7
1  2  5  8
2  3  6  9
----------------------------------
         A  B  C
index_1  1  4  7
index_2  2  5  8
index_3  3  6  9

In [53]:
import pandas as pd
import numpy as np
#create DataFrame
df = pd.DataFrame({'team': ['A', 'A', 'A', 'A', 'B', 'B', 'B', 'B'],
                   'points': [30, 22, 19, 14, 14, 11, 20, 28]})

#view DataFrame
print(df)

  team  points
0    A      30
1    A      22
2    A      19
3    A      14
4    B      14
5    B      11
6    B      20
7    B      28

In [55]:
tgb=df.groupby("team")
for grpname,grpdata in tgb:
    print("Group Name:",grpname)
    print(grpdata)
    print("----------------------------------")

Group Name: A
  team  points
0    A      30
1    A      22
2    A      19
3    A      14
----------------------------------
Group Name: B
  team  points
4    B      14
5    B      11
6    B      20
7    B      28
----------------------------------

In [57]:
#Calculate the Mean Points of each Time
df["Mean-Points"]=df.groupby("team")["points"].transform("mean")

In [59]:
print(df)

  team  points  Mean-Points
0    A      30        21.25
1    A      22        21.25
2    A      19        21.25
3    A      14        21.25
4    B      14        18.25
5    B      11        18.25
6    B      20        18.25
7    B      28        18.25

In [61]:
#Calculate the Mean Points of each Time
df["sum-Points"]=df.groupby("team")["points"].transform("sum")

In [63]:
print(df)

  team  points  Mean-Points  sum-Points
0    A      30        21.25          85
1    A      22        21.25          85
2    A      19        21.25          85
3    A      14        21.25          85
4    B      14        18.25          73
5    B      11        18.25          73
6    B      20        18.25          73
7    B      28        18.25          73

In [65]:
#create new column called percent_of_points
df['percent_of_points'] = df.groupby('team')['points'].transform(lambda x: x/x.sum())
print(df)

  team  points  Mean-Points  sum-Points  percent_of_points
0    A      30        21.25          85           0.352941
1    A      22        21.25          85           0.258824
2    A      19        21.25          85           0.223529
3    A      14        21.25          85           0.164706
4    B      14        18.25          73           0.191781
5    B      11        18.25          73           0.150685
6    B      20        18.25          73           0.273973
7    B      28        18.25          73           0.383562

In [67]:
#create new column called percent_of_points
df['percent_of_points'] = df.groupby('team')['points'].transform(lambda x: x/x.sum()*100)
print(df)

  team  points  Mean-Points  sum-Points  percent_of_points
0    A      30        21.25          85          35.294118
1    A      22        21.25          85          25.882353
2    A      19        21.25          85          22.352941
3    A      14        21.25          85          16.470588
4    B      14        18.25          73          19.178082
5    B      11        18.25          73          15.068493
6    B      20        18.25          73          27.397260
7    B      28        18.25          73          38.356164

In [69]:
import pandas as pd

df = pd.DataFrame({'Animal': ['Falcon', 'Falcon', 'Parrot', 'Parrot'], 
                   'Max Speed': [380., 370., 24., 26.]})
df.groupby(['Animal']).agg(['mean', 'max', 'min'])

       Max Speed
            mean    max    min
Animal
Falcon     375.0  380.0  370.0
Parrot      25.0   26.0   24.0

In [71]:
#Filtering Groups
import pandas as pd
df = pd.DataFrame({'Animal': ['Falcon', 'Falcon', 'Parrot', 'Parrot'], 
                   'Max Speed': [380., 370., 24., 26.]})
df.groupby(['Animal']).filter(lambda x: x['Max Speed'].mean() > 100)

   Animal  Max Speed
0  Falcon      380.0
1  Falcon      370.0