In [1]:
import numpy as np
import pandas as pd
dict = {'First Score':[100, 90, np.nan, 95],
        'Second Score': [30, np.nan, 45, 56],
        'Third Score':[52, 40, 80, 98],
        'Fourth Score':[np.nan, np.nan, np.nan, 65]}
df=pd.DataFrame(dict)
print("---------------------------------------------------------")
print(df)
print("---------------------------------------------------------")

---------------------------------------------------------
   First Score  Second Score  Third Score  Fourth Score
0        100.0          30.0           52           NaN
1         90.0           NaN           40           NaN
2          NaN          45.0           80           NaN
3         95.0          56.0           98          65.0
---------------------------------------------------------

In [7]:
for val in df.iterrwos():
    print(val)

AttributeError: 'DataFrame' object has no attribute 'iterrwos'

In [9]:
import numpy as np
import pandas as pd
lst=[[10,20,30,40,50],["RS","TR","SS","DR","JH"],[1.2,2.3,4.5,5.6,6.7]]
df=pd.DataFrame(lst)
print(df)
#1. Iterating the DataFrame Object Data by using Row Indices
for rec in df.iterrows():
    print("Row Index:{}".format(rec[0]))
    print("\tRecord Values:{}".format(rec[1].values))

     0    1    2    3    4
0   10   20   30   40   50
1   RS   TR   SS   DR   JH
2  1.2  2.3  4.5  5.6  6.7
Row Index:0
	Record Values:[10 20 30 40 50]
Row Index:1
	Record Values:['RS' 'TR' 'SS' 'DR' 'JH']
Row Index:2
	Record Values:[1.2 2.3 4.5 5.6 6.7]

In [11]:
#1. Iterating the DataFrame Object Data by using Row Indices
for (rind,rvals) in df.iterrows():
    print("Row Index:{}".format(rind))
    print("\tRecord Values:{}".format(rvals.values))

Row Index:0
	Record Values:[10 20 30 40 50]
Row Index:1
	Record Values:['RS' 'TR' 'SS' 'DR' 'JH']
Row Index:2
	Record Values:[1.2 2.3 4.5 5.6 6.7]

In [13]:
import numpy as np
import pandas as pd
lst=[[10,20,30,40,50],["RS","TR","SS","DR","JH"],[1.2,2.3,4.5,5.6,6.7]]
df=pd.DataFrame(lst)
print(df)

     0    1    2    3    4
0   10   20   30   40   50
1   RS   TR   SS   DR   JH
2  1.2  2.3  4.5  5.6  6.7

In [15]:
#1. Iterating the DataFrame Object Data by using Row Indices
for i in range(df.shape[0]):
    print("Row Index Value=",i)
    print("\tRow Values=",df.iloc[i].values)

Row Index Value= 0
	Row Values= [10 20 30 40 50]
Row Index Value= 1
	Row Values= ['RS' 'TR' 'SS' 'DR' 'JH']
Row Index Value= 2
	Row Values= [1.2 2.3 4.5 5.6 6.7]

In [17]:
#3.Iterating the DataFrame Object Data by using  Col Names
lst=[[10,20,30,40,50],["RS","TR","SS","DR","JH"],[1.2,2.3,4.5,5.6,6.7]]
df=pd.DataFrame(lst,columns=["Rec1","Rec2","Rec3","Rec4","Rec5"])
print(df)

  Rec1 Rec2 Rec3 Rec4 Rec5
0   10   20   30   40   50
1   RS   TR   SS   DR   JH
2  1.2  2.3  4.5  5.6  6.7

In [29]:
for colname in df.columns:
    print("colnames name:{}".format(colname))
    print("colnames values:{}".format(df[colname].values))

colnames name:Rec1
colnames values:[10 'RS' 1.2]
colnames name:Rec2
colnames values:[20 'TR' 2.3]
colnames name:Rec3
colnames values:[30 'SS' 4.5]
colnames name:Rec4
colnames values:[40 'DR' 5.6]
colnames name:Rec5
colnames values:[50 'JH' 6.7]

In [37]:
#4. Iterating the DataFrame Object Data by using Column  Indices
for colindex in range(df.shape[1]):
    print("Column Index:{}".format(colindex))
    print("\tColumn Data={}".format(df.iloc[:,colindex].values))

Column Index:0
	Column Data=[10 'RS' 1.2]
Column Index:1
	Column Data=[20 'TR' 2.3]
Column Index:2
	Column Data=[30 'SS' 4.5]
Column Index:3
	Column Data=[40 'DR' 5.6]
Column Index:4
	Column Data=[50 'JH' 6.7]

In [41]:
df.shape

(3, 5)