In [1]:
#the number of approches on dataframes in python the 
#the syntax is varname=pd.DataFrame([index,coulmns,dtype])
#it apply on itarables, like str,range,bytes,byte array,list,tuple,frozen set,dict

In [27]:
import pandas as pd
s=["25"]
print("content of the a")
print(s)
b=pd.DataFrame(s,columns=["id"])
print(b)

content of the a
['25']
   id
0  25

In [23]:
import pandas as pd
s=range(10,15,2)
print("content of the a")
print(s)
b=pd.DataFrame(s)
print(b)

content of the a
range(10, 15, 2)
    0
0  10
1  12
2  14

In [47]:
import pandas as pd
s=[10,20,30,40,55]#lst
print("content of the a")
print(s)
b=pd.DataFrame(s)
print(b)
print("*"*50)
print(b.size)
print(b.shape)
print(b.ndim)

content of the a
[10, 20, 30, 40, 55]
    0
0  10
1  20
2  30
3  40
4  55
**************************************************
5
(5, 1)
2

In [51]:
#Create an object of DataFrame By using list
lst=[100,"Rossum",45.67,"Python"]
df=pd.DataFrame(lst)
print("Content of DataFrame")
print(df,type(df))

Content of DataFrame
        0
0     100
1  Rossum
2   45.67
3  Python <class 'pandas.core.frame.DataFrame'>

In [57]:
#Create an object of DataFrame By using list
lst=[100,"Rossum",45.67,"Python"]
df=pd.DataFrame(lst)
print("Content of DataFrame")
print(df,type(df))

Content of DataFrame
        0
0     100
1  Rossum
2   45.67
3  Python <class 'pandas.core.frame.DataFrame'>

In [59]:
#Create an object of DataFrame By using list
lst=[100,"Rossum",45.67,"Python"]
df=pd.DataFrame(lst,index=["id","name","marks","sub"])
print("Content of DataFrame")
print(df,type(df))

Content of DataFrame
            0
id        100
name   Rossum
marks   45.67
sub    Python <class 'pandas.core.frame.DataFrame'>

In [61]:
#Create an object of DataFrame By using list
lst=[100,"Rossum",45.67,"Python"]
df=pd.DataFrame(lst,index=["id","name","marks","sub"],columns=["record"])
print("Content of DataFrame")
print(df,type(df))

Content of DataFrame
       record
id        100
name   Rossum
marks   45.67
sub    Python <class 'pandas.core.frame.DataFrame'>

In [83]:
#Create an object of DataFrame By using list
lst=[[100,"Rossum",45.67,"Python"],[200,"Rossum",45.67,"Python"],[230,"Rossum",45.67,"Python"]]
df=pd.DataFrame(lst,columns=["id","name","marks","sub"],index=["record1","record2","record3"])
print("Content of DataFrame")
print(df,type(df))

Content of DataFrame
          id    name  marks     sub
record1  100  Rossum  45.67  Python
record2  200  Rossum  45.67  Python
record3  230  Rossum  45.67  Python <class 'pandas.core.frame.DataFrame'>

In [85]:
#Create an object of DataFrame By using list
lst=[[100,"Rossum",45.67,"Python"],[200,"Rossum",45.67,"Python"],[230,"Rossum",45.67,"Python"]]
df=pd.DataFrame(lst,columns=["id","name","marks","sub"],index=["res"+str(i) for i in range(1,len(lst)+1)])
print("Content of DataFrame")
print(df,type(df))

Content of DataFrame
       id    name  marks     sub
res1  100  Rossum  45.67  Python
res2  200  Rossum  45.67  Python
res3  230  Rossum  45.67  Python <class 'pandas.core.frame.DataFrame'>

In [81]:
#Create an object of DataFrame By using list
lst=[[100,"Rossum",45.67,"Python"],[200,"Rossum",45.67,"Python"],[230,"Rossum",45.67,"Python"]]
df=pd.DataFrame(lst,columns=["col"+str(i) for i in range(1,len(lst[0])+1)],index=["res"+str(i) for i in range(1,len(lst)+1)])
print("Content of DataFrame")
print(df,type(df))

Content of DataFrame
      col1    col2   col3    col4
res1   100  Rossum  45.67  Python
res2   200  Rossum  45.67  Python
res3   230  Rossum  45.67  Python <class 'pandas.core.frame.DataFrame'>

In [87]:
#craeting the object dataframe by using the tuple 
lst=((100,"Rossum",45.67,"Python"),(200,"Rossum",45.67,"Python"),(230,"Rossum",45.67,"Python"))
df=pd.DataFrame(lst,columns=["col"+str(i) for i in range(1,len(lst[0])+1)],index=["res"+str(i) for i in range(1,len(lst)+1)])
print("Content of DataFrame")
print(df,type(df))

Content of DataFrame
      col1    col2   col3    col4
res1   100  Rossum  45.67  Python
res2   200  Rossum  45.67  Python
res3   230  Rossum  45.67  Python <class 'pandas.core.frame.DataFrame'>

In [89]:
#craeting the object dataframe by using the tuple 
lst=([100,"Rossum",45.67,"Python"],[200,"Rossum",45.67,"Python"],(230,"Rossum",45.67,"Python"))
df=pd.DataFrame(lst,columns=["col"+str(i) for i in range(1,len(lst[0])+1)],index=["res"+str(i) for i in range(1,len(lst)+1)])
print("Content of DataFrame")
print(df,type(df))

Content of DataFrame
      col1    col2   col3    col4
res1   100  Rossum  45.67  Python
res2   200  Rossum  45.67  Python
res3   230  Rossum  45.67  Python <class 'pandas.core.frame.DataFrame'>

In [91]:
#craeting the object dataframe by using the tuple 
lst={(100,"Rossum",45.67,"Python"),(200,"Rossum",45.67,"Python"),(230,"Rossum",45.67,"Python")}
df=pd.DataFrame(lst,columns=["col"+str(i) for i in range(1,len(lst[0])+1)],index=["res"+str(i) for i in range(1,len(lst)+1)])
print("Content of DataFrame")
print(df,type(df))#here set is not suppoerted

TypeError: 'set' object is not subscriptable

In [97]:
#creating the object dataframe by using the dict
lst={"id":[100,200,300],"name":["prashant","anil","sai"],"marks":[20.0,30.0,40.0]}
print(lst)
df=pd.DataFrame(lst)
print(df)

{'id': [100, 200, 300], 'name': ['prashant', 'anil', 'sai'], 'marks': [20.0, 30.0, 40.0]}
    id      name  marks
0  100  prashant   20.0
1  200      anil   30.0
2  300       sai   40.0

In [103]:
#creating the object the dataframe by using series
import pandas as pd
a=([10,20,30,40])
print(a)
s=pd.Series(a)
print(s)
print("dataframe")
df=pd.DataFrame(a)
print(df)

[10, 20, 30, 40]
0    10
1    20
2    30
3    40
dtype: int64
dataframe
    0
0  10
1  20
2  30
3  40