In [1]:
#in pandas here we are 7 attribute they are
#name
#values
#size
#empty
#firts lement--->indices and label
#last element--->indices and label
'''subet set of the index/label or slicing'''
'''subet set of the random index/label or slicing'''
#satter and getter

In [5]:
import numpy as np
import pandas as pd
a=np.array([10,20,30,40,50,60])
s=pd.Series(a)
print(s)

0    10
1    20
2    30
3    40
4    50
5    60
dtype: int32

In [7]:
import numpy as np
import pandas as pd
a=np.array([10,20,30,40,50,60])
s=pd.Series(a,[1,2,3,4,5,6],dtype=float)
print(s)

1    10.0
2    20.0
3    30.0
4    40.0
5    50.0
6    60.0
dtype: float64

In [9]:
s[1]

10.0

In [11]:
s[-1]#here we get the key error

KeyError: -1

In [13]:
import numpy as np
import pandas as pd
a=np.array([10,20,30,40,50,60])
s=pd.Series(a,[1,2,3,4,5,6],name="prash",dtype=float)
print(s)

1    10.0
2    20.0
3    30.0
4    40.0
5    50.0
6    60.0
Name: prash, dtype: float64

In [15]:
s.name#here name is the attribute in pandas

'prash'

In [19]:
import numpy as np
import pandas as pd
a=np.array([10,20,30,40,50,60])
s=pd.Series(a,[1,2,3,4,5,6],dtype=float)
print(s)
print("the values of the a")
b=s.values#here values is the attribute
print(b)

1    10.0
2    20.0
3    30.0
4    40.0
5    50.0
6    60.0
dtype: float64
the values of the a
[10. 20. 30. 40. 50. 60.]

In [21]:
import numpy as np
import pandas as pd
a=np.array([10,20,30,40,50,60])
s=pd.Series(a,[1,2,3,4,5,6],dtype=float)
print(s) 
print("the size of the a")
b=s.size#size we finding out
print(b)

1    10.0
2    20.0
3    30.0
4    40.0
5    50.0
6    60.0
dtype: float64
the size of the a
6

In [37]:
import pandas as pd
a=[10,20,30,None,40,60]
s=pd.Series(a,dtype=float)
print(s) 
print("the size of the a")
b=s.empty#size we finding out
print("the given a is empy{}".format(b))

0    10.0
1    20.0
2    30.0
3     NaN
4    40.0
5    60.0
dtype: float64
the size of the a
the given a is empy or notFalse

In [39]:
import pandas as pd
s=pd.Series()
print(s) 
b=s.empty#size we finding out
print("the given a is empy{}".format(b))

Series([], dtype: object)
the given a is empyTrue

In [43]:
import pandas as pd
a=[10,"anil","python",30.0,"hyd"]
s=pd.Series(a,["name","name1","name2","name3","name4"])
print(s)

name         10
name1      anil
name2    python
name3      30.0
name4       hyd
dtype: object

In [45]:
s[1]

C:\Users\prash\AppData\Local\Temp\ipykernel_21648\878419959.py:1: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  s[1]

'anil'

In [49]:
s["name"]

10

In [55]:
import pandas as pd
a=[10,20,30,40,50,60,70,80,90,100]
s=pd.Series(a,[111,222,333,444,555,666,777,888,999,000])
print(s)

111     10
222     20
333     30
444     40
555     50
666     60
777     70
888     80
999     90
0      100
dtype: int64

In [65]:
#now we are selceting the first element and replacing the values
s[111]=100

In [67]:
print(s)

111    100
222     20
333     30
444     40
555     50
666     60
777     70
888     80
999     90
0      100
dtype: object

In [81]:
a=s[1::2]
print(a)

222     20
444     40
666     60
888     80
0      100
dtype: object

In [83]:
import pandas as pd
a=[10,20,30,40,50,60,70,80,90,100]
s=pd.Series(a,["name1","name2","name3","name4","name5","name6","name7","name8","name9","name10"])
print(s)

name1      10
name2      20
name3      30
name4      40
name5      50
name6      60
name7      70
name8      80
name9      90
name10    100
dtype: int64

In [85]:
s["name1":]

name1      10
name2      20
name3      30
name4      40
name5      50
name6      60
name7      70
name8      80
name9      90
name10    100
dtype: int64

In [87]:
s["name1":"name5"]

name1    10
name2    20
name3    30
name4    40
name5    50
dtype: int64

In [89]:
s["name1"]=12
print(s)

name1      12
name2      20
name3      30
name4      40
name5      50
name6      60
name7      70
name8      80
name9      90
name10    100
dtype: int64

In [91]:
import numpy as np
import pandas as pd
lst=["Rossum","Travis","Ritche","Dennis","Hunter","James","Jhon"]
s=pd.Series(lst)
print("Series Object Data")
print(s)

Series Object Data
0    Rossum
1    Travis
2    Ritche
3    Dennis
4    Hunter
5     James
6      Jhon
dtype: object

In [95]:
#random elements
s[[1,5,6]]

1    Travis
5     James
6      Jhon
dtype: object

In [97]:
s[[1,5,6]]=["sl1","sl2","sl3"]

In [99]:
print(s)

0    Rossum
1       sl1
2    Ritche
3    Dennis
4    Hunter
5       sl2
6       sl3
dtype: object