In [1]:
#now we are undating the condition using the iloc["compund condition"]

In [3]:

import pandas as pd
df=pd.read_csv("C:\\Users\\prash\\OneDrive\\Desktop\\Pandas\\examdet.csv")
print(df)
df["total"]=df["telugu"]+df["english"]+df["hindi"]+df["maths"]+df["science"]+df["social"]
print(df)

    htno     name  telugu  english  hindi  maths  science  social
0    100   Ramesh      50       60     66     98       66      55
1    101   Rajesh      45       67     34     67       66      78
2    102   Rossum      56       88     56     99       44      77
3    103     Raji      56       78     34     56       88      55
4    104   Kalyan      51       63     62     93       67      51
5    105  Karthik      48       62     39     68       65      88
6    106   Kambli      53       81     59     92       48      73
7    107  Praveen      46       88     74     86       78      45
8    108   Ganesh      53       62     76     88       76      35
9    109     Nags      55       77     44     77       86      58
10   110    Biswa      66       48     86     95       48      47
11   111   Ritchi      66       68     64     76       98      75
12   104   Kalyan      51       63     62     93       67      51
13   112  shareef      50       63     99     90       76      67
14   113     sonu      60       89     98     87       77      68
15   114   Rajesh      45       67     77     55       66      46
16   115   Rakesh      67       78     88     78       67      49
    htno     name  telugu  english  hindi  maths  science  social  total
0    100   Ramesh      50       60     66     98       66      55    395
1    101   Rajesh      45       67     34     67       66      78    357
2    102   Rossum      56       88     56     99       44      77    420
3    103     Raji      56       78     34     56       88      55    367
4    104   Kalyan      51       63     62     93       67      51    387
5    105  Karthik      48       62     39     68       65      88    370
6    106   Kambli      53       81     59     92       48      73    406
7    107  Praveen      46       88     74     86       78      45    417
8    108   Ganesh      53       62     76     88       76      35    390
9    109     Nags      55       77     44     77       86      58    397
10   110    Biswa      66       48     86     95       48      47    390
11   111   Ritchi      66       68     64     76       98      75    447
12   104   Kalyan      51       63     62     93       67      51    387
13   112  shareef      50       63     99     90       76      67    445
14   113     sonu      60       89     98     87       77      68    479
15   114   Rajesh      45       67     77     55       66      46    356
16   115   Rakesh      67       78     88     78       67      49    427

In [7]:
df["percentage"]=df["total"]/600*100
print(df)
df["grade"]=None
print(df)

    htno     name  telugu  english  hindi  maths  science  social  total  \
0    100   Ramesh      50       60     66     98       66      55    395
1    101   Rajesh      45       67     34     67       66      78    357
2    102   Rossum      56       88     56     99       44      77    420
3    103     Raji      56       78     34     56       88      55    367
4    104   Kalyan      51       63     62     93       67      51    387
5    105  Karthik      48       62     39     68       65      88    370
6    106   Kambli      53       81     59     92       48      73    406
7    107  Praveen      46       88     74     86       78      45    417
8    108   Ganesh      53       62     76     88       76      35    390
9    109     Nags      55       77     44     77       86      58    397
10   110    Biswa      66       48     86     95       48      47    390
11   111   Ritchi      66       68     64     76       98      75    447
12   104   Kalyan      51       63     62     93       67      51    387
13   112  shareef      50       63     99     90       76      67    445
14   113     sonu      60       89     98     87       77      68    479
15   114   Rajesh      45       67     77     55       66      46    356
16   115   Rakesh      67       78     88     78       67      49    427

    percentage
0    65.833333
1    59.500000
2    70.000000
3    61.166667
4    64.500000
5    61.666667
6    67.666667
7    69.500000
8    65.000000
9    66.166667
10   65.000000
11   74.500000
12   64.500000
13   74.166667
14   79.833333
15   59.333333
16   71.166667
    htno     name  telugu  english  hindi  maths  science  social  total  \
0    100   Ramesh      50       60     66     98       66      55    395
1    101   Rajesh      45       67     34     67       66      78    357
2    102   Rossum      56       88     56     99       44      77    420
3    103     Raji      56       78     34     56       88      55    367
4    104   Kalyan      51       63     62     93       67      51    387
5    105  Karthik      48       62     39     68       65      88    370
6    106   Kambli      53       81     59     92       48      73    406
7    107  Praveen      46       88     74     86       78      45    417
8    108   Ganesh      53       62     76     88       76      35    390
9    109     Nags      55       77     44     77       86      58    397
10   110    Biswa      66       48     86     95       48      47    390
11   111   Ritchi      66       68     64     76       98      75    447
12   104   Kalyan      51       63     62     93       67      51    387
13   112  shareef      50       63     99     90       76      67    445
14   113     sonu      60       89     98     87       77      68    479
15   114   Rajesh      45       67     77     55       66      46    356
16   115   Rakesh      67       78     88     78       67      49    427

    percentage grade
0    65.833333  None
1    59.500000  None
2    70.000000  None
3    61.166667  None
4    64.500000  None
5    61.666667  None
6    67.666667  None
7    69.500000  None
8    65.000000  None
9    66.166667  None
10   65.000000  None
11   74.500000  None
12   64.500000  None
13   74.166667  None
14   79.833333  None
15   59.333333  None
16   71.166667  None

In [9]:
#Give the Grade to Students with Following Conditions
#Distinction Grade----->Percentage >=74
#First Grade----------> 74>Percentage>=65
#Second Grade--------->65>percentage>=60
#Third Grade--------->60>percentage

In [57]:
df.loc[df["percentage"]>=74,["grade"]]="distinction"
print(df)

    htno     name  telugu  english  hindi  maths  science  social  total  \
0    100   Ramesh      50       60     66     98       66      55    395
1    101   Rajesh      45       67     34     67       66      78    357
2    102   Rossum      56       88     56     99       44      77    420
3    103     Raji      56       78     34     56       88      55    367
4    104   Kalyan      51       63     62     93       67      51    387
5    105  Karthik      48       62     39     68       65      88    370
6    106   Kambli      53       81     59     92       48      73    406
7    107  Praveen      46       88     74     86       78      45    417
8    108   Ganesh      53       62     76     88       76      35    390
9    109     Nags      55       77     44     77       86      58    397
10   110    Biswa      66       48     86     95       48      47    390
11   111   Ritchi      66       68     64     76       98      75    447
12   104   Kalyan      51       63     62     93       67      51    387
13   112  shareef      50       63     99     90       76      67    445
14   113     sonu      60       89     98     87       77      68    479
15   114   Rajesh      45       67     77     55       66      46    356
16   115   Rakesh      67       78     88     78       67      49    427

    percentage         grade
0    65.833333   frist grade
1    59.500000   third grade
2    70.000000   frist grade
3    61.166667   third grade
4    64.500000   third grade
5    61.666667   third grade
6    67.666667   frist grade
7    69.500000   frist grade
8    65.000000  second grade
9    66.166667   frist grade
10   65.000000  second grade
11   74.500000   distinction
12   64.500000   third grade
13   74.166667   distinction
14   79.833333   distinction
15   59.333333   third grade
16   71.166667   frist grade

In [59]:
df.loc[((df["percentage"]>=64)&(df["percentage"]>65)),["grade"]]="frist grade"
print(df)
# df.loc[((df["percent"]>=65)&(df["percent"]<74)),["grade"]]="FIRST"

    htno     name  telugu  english  hindi  maths  science  social  total  \
0    100   Ramesh      50       60     66     98       66      55    395
1    101   Rajesh      45       67     34     67       66      78    357
2    102   Rossum      56       88     56     99       44      77    420
3    103     Raji      56       78     34     56       88      55    367
4    104   Kalyan      51       63     62     93       67      51    387
5    105  Karthik      48       62     39     68       65      88    370
6    106   Kambli      53       81     59     92       48      73    406
7    107  Praveen      46       88     74     86       78      45    417
8    108   Ganesh      53       62     76     88       76      35    390
9    109     Nags      55       77     44     77       86      58    397
10   110    Biswa      66       48     86     95       48      47    390
11   111   Ritchi      66       68     64     76       98      75    447
12   104   Kalyan      51       63     62     93       67      51    387
13   112  shareef      50       63     99     90       76      67    445
14   113     sonu      60       89     98     87       77      68    479
15   114   Rajesh      45       67     77     55       66      46    356
16   115   Rakesh      67       78     88     78       67      49    427

    percentage         grade
0    65.833333   frist grade
1    59.500000   third grade
2    70.000000   frist grade
3    61.166667   third grade
4    64.500000   third grade
5    61.666667   third grade
6    67.666667   frist grade
7    69.500000   frist grade
8    65.000000  second grade
9    66.166667   frist grade
10   65.000000  second grade
11   74.500000   frist grade
12   64.500000   third grade
13   74.166667   frist grade
14   79.833333   frist grade
15   59.333333   third grade
16   71.166667   frist grade

In [51]:
df.loc[((df["percentage"]>=65)&(df["percentage"]>60)),["grade"]]="second grade"
print(df)

    htno     name  telugu  english  hindi  maths  science  social  total  \
0    100   Ramesh      50       60     66     98       66      55    395
1    101   Rajesh      45       67     34     67       66      78    357
2    102   Rossum      56       88     56     99       44      77    420
3    103     Raji      56       78     34     56       88      55    367
4    104   Kalyan      51       63     62     93       67      51    387
5    105  Karthik      48       62     39     68       65      88    370
6    106   Kambli      53       81     59     92       48      73    406
7    107  Praveen      46       88     74     86       78      45    417
8    108   Ganesh      53       62     76     88       76      35    390
9    109     Nags      55       77     44     77       86      58    397
10   110    Biswa      66       48     86     95       48      47    390
11   111   Ritchi      66       68     64     76       98      75    447
12   104   Kalyan      51       63     62     93       67      51    387
13   112  shareef      50       63     99     90       76      67    445
14   113     sonu      60       89     98     87       77      68    479
15   114   Rajesh      45       67     77     55       66      46    356
16   115   Rakesh      67       78     88     78       67      49    427

    percentage         grade
0    65.833333  second grade
1    59.500000   third grade
2    70.000000  second grade
3    61.166667   third grade
4    64.500000   third grade
5    61.666667   third grade
6    67.666667  second grade
7    69.500000  second grade
8    65.000000  second grade
9    66.166667  second grade
10   65.000000  second grade
11   74.500000  second grade
12   64.500000   third grade
13   74.166667  second grade
14   79.833333  second grade
15   59.333333   third grade
16   71.166667  second grade

In [85]:
#Count Number Students who got Distinction
print("Number of student whose passed in DISTINCTION=",
      df[df["grade"]=="second grade"].shape[0])

Number of student whose passed in DISTINCTION= 2

In [87]:
print("Number of student whose passed in DISTINCTION=",
      df[df["grade"]=="third grade"].shape[0])

Number of student whose passed in DISTINCTION= 6