In [1]:
import numpy as np 
import pandas as pd
a=pd.Series([100,200,np.NaN,400,None],index=["a","b","c","d","e"])
print("--------------------------------------------------------")
print("series-1")
print(a)
print("----------------------------------------------------------")

--------------------------------------------------------
series-1
a    100.0
b    200.0
c      NaN
d    400.0
e      NaN
dtype: float64
----------------------------------------------------------

In [9]:
import numpy as np 
import pandas as pd
a=pd.Series([100,200,np.NaN,400,None],index=["a","b","c","d","e"])
print("--------------------------------------------------------")
print("series-1")
print("the missing values are:",a.isna().sum())
print("----------------------------------------------------------")

--------------------------------------------------------
series-1
the missing values are: 2
----------------------------------------------------------

In [13]:
print("the total value and ",(a.size,a.count()))

number of the missing valuess= (5, 3)

In [15]:
print("number of the missing valuess=",(a.size-a.count()))

number of the missing valuess= 2